<div class="p-element p-centered">
  <div class="p-paginator p-component ng-star-inserted">
    <a
      class="p-button-centered p-ripple p-element p-paginator-first p-paginator-element p-link ng-star-inserted"
      [href]="first"
      [ngClass]="{'p-disabled': !first}"
    >
      <span class="p-paginator-icon pi pi-angle-double-left"></span>
    </a>
    <a
      class="p-button-centered p-ripple p-element p-paginator-prev p-paginator-element p-link"
      [href]="prev"
      [ngClass]="{'p-disabled': !prev}"
    >
      <span class="p-paginator-icon pi pi-angle-left"></span>
    </a>
    <span class="p-paginator-pages ng-star-inserted">
      <a
        class="p-button-centered p-ripple p-element p-paginator-page p-paginator-element p-link ng-star-inserted"
        *ngFor="let page of previous"
        [href]="page.link"
      >
        {{ page.page }}
      </a>
      <a
        class="p-button-centered p-ripple p-element p-paginator-page p-paginator-element p-link p-highlight ng-star-inserted"
      >
        {{ page }}
      </a>
      <a
        class="p-button-centered p-ripple p-element p-paginator-page p-paginator-element p-link ng-star-inserted"
        *ngFor="let page of follow"
        [href]="page.link"
      >
        {{ page.page }}
      </a>
    </span>
    <a
      class="p-button-centered p-ripple p-element p-paginator-next p-paginator-element p-link"
      [href]="next"
      [ngClass]="{'p-disabled': !next}"
    >
      <span class="p-paginator-icon pi pi-angle-right"></span>
    </a>
    <a
      class="p-button-centered p-ripple p-element p-paginator-last p-paginator-element p-link ng-star-inserted"
      [href]="last"
      [ngClass]="{'p-disabled': !last}"
    >
      <span class="p-paginator-icon pi pi-angle-double-right"></span>
    </a>
  </div>
</div>
