.p-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.p-button-centered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}
