<p-toast position="bottom-right"></p-toast>
<p-progressBar mode="indeterminate" *ngIf="progress"></p-progressBar>
<p-paginator [rows]="limit" [totalRecords]="total" [first]="(page - 1) * limit" (onPageChange)="paginate($event)" *ngIf="!isServer"></p-paginator>
<app-server-paginator [total]="total" [limit]="limit" *ngIf="isServer"></app-server-paginator>

<p-dataView [value]="pictures" layout="grid" *ngIf="pictures.length > 0">
  <ng-template let-picture pTemplate="gridItem">
    <div class="col-12 md:col-3">
      <p-image src="{{ 'http://localhost:3000/api/picture/' + picture.id +'/preview/' + picture.previewName + '.webp' }}" alt="Image" width="250"></p-image>
    </div>
  </ng-template>
</p-dataView>

<p-paginator [rows]="limit" [totalRecords]="total" [first]="(page - 1) * limit" (onPageChange)="paginate($event)" *ngIf="!isServer"></p-paginator>
<app-server-paginator [total]="total" [limit]="limit" *ngIf="isServer"></app-server-paginator>
