<p-toast position="bottom-right"></p-toast>

<div class="toolbar">
  <form action="/" method="get" (ngSubmit)="getResult()">
    <div class="p-inputgroup">
      <div style="margin-right: 20px;">
        <img src="https://www.primefaces.org/primeng/assets/showcase/images/primeng.svg" height="40" class="mr-2">
      </div>
      <input type="text" name="search" pInputText placeholder="What are we looking for?" [(ngModel)]="searchText">
      <p-button type="submit" pRipple icon="pi pi-search" styleClass="p-button-primary" pTooltip="Find"></p-button>
      <p-button type="button" icon="pi pi-filter" styleClass="p-button-text" [ngClass]="{'p-button-active': showFilter}" pTooltip="Filter" (onClick)="switchFilter()"></p-button>
      <p-button type="button" icon="pi pi-tag" styleClass="p-button-text" [ngClass]="{'p-button-active': showTags}" pTooltip="Tags" (onClick)="switchTags()"></p-button>
    </div>

    <div class="grid p-fluid toolbar-subblock" *ngIf="showFilter">
      <div class="col-12 md:col-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-arrows-h"></i></span>
          <input type="number" name="fromWidth" pInputText placeholder="Min Width" [(ngModel)]="minWidth">
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-arrows-v"></i></span>
          <input type="number" name="fromWidth" pInputText placeholder="Min Height" [(ngModel)]="minHeight">
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-arrows-h"></i></span>
          <input type="number" name="toWidth" pInputText placeholder="Max Width" [(ngModel)]="maxWidth">
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-arrows-v"></i></span>
          <input type="number" name="toHeight" pInputText placeholder="Max Height" [(ngModel)]="maxHeight">
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="showTags" class="toolbar-subblock">
    <p-button type="button" [label]="tag.name" styleClass="p-button-sm p-button-outlined" (onClick)="search({ tags: tag.id })" *ngFor="let tag of tags"></p-button>
  </div>
</div>

<router-outlet></router-outlet>
