<p-toolbar>
  <div class="p-inputgroup">
    <div style="margin-right: 20px;">
      <img src="https://www.primefaces.org/primeng/assets/showcase/images/primeng.svg" height="40" class="mr-2">
    </div>
    <input type="text" pInputText placeholder="Username">
    <!-- <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
    <button pButton type="button" icon="pi pi-filter" class="p-button-text" pTooltip="Filter"></button>
    <button pButton type="button" icon="pi pi-tag" class="p-button-text" pTooltip="Tags"></button> -->
    <p-button type="button" pRipple icon="pi pi-search" styleClass="p-button-warn"></p-button>
    <p-button type="button" icon="pi pi-filter" class="p-button-text" pTooltip="Filter"></p-button>
    <p-button type="button" icon="pi pi-tag" class="p-button-text" pTooltip="Tags"></p-button>
  </div>
</p-toolbar>
<router-outlet></router-outlet>
