.p-inputgroup {
  & > p-button {
    display: inline-flex;
  }
}

.p-button-active {
  background-color: #e0e0e0;
}

.toolbar {
  background: #faf9f8;
  border-bottom: 1px solid #a19f9d;
  padding: 1rem;
}

.toolbar-subblock {
  margin-top: 15px;
}
