<p-progressBar mode="indeterminate" *ngIf="progress"></p-progressBar>
<div *ngIf="error">
  <h2>{{ error.error }}</h2>
  <h3>{{ error.message }}</h3>
</div>

<div *ngIf="picture && !error">
  <p-image
    src="/api/picture/{{ picture.id }}/preview/{{ picture.previewName }}.webp"
    alt="{{ picture.previewAlt }}"
    title="{{ picture.title }}"
    width="{{ picture.previewWidth }}"
    height="{{ picture.previewHeight }}"
  ></p-image>

  <ul>
    <li><b>Title: </b> {{ picture.title }}</li>
    <li><b>Mime: </b>{{ picture.mime }}</li>
    <li><b>Size: </b>{{ picture.size }}</li>
    <li><b>Width: </b>{{ picture.width }}</li>
    <li><b>Height: </b>{{ picture.height }}</li>
    <li><b>Description: </b>{{ picture.description }}</li>
    <li><b>Header: </b>{{ picture.header }}</li>
    <li><b>Content: </b>{{ picture.content }}</li>
    <li><b>Views: </b>{{ picture.views }}</li>
    <li><b>Downloads: </b>{{ picture.downloads }}</li>
    <li><b>Created: </b>{{ picture.created }}</li>
  </ul>

  <a href="{{ picture.link }}">Download</a>

  <p-button type="button" [label]="tag.name" styleClass="p-button-sm p-button-outlined" (onClick)="search({ tags: tag.id })" *ngFor="let tag of picture.tags"></p-button>
</div>

<p-dataView [value]="recommended" layout="grid" *ngIf="recommended && !error">
  <ng-template let-recommend pTemplate="gridItem">
    <a routerLink="/{{ recommend.url }}-{{ recommend.id }}">
      <div class="col-12 md:col-3">
        <p-image
          src="/api/picture/{{ recommend.id }}/preview/{{ recommend.previewName }}.webp"
          alt="{{ recommend.previewAlt }}"
          title="{{ recommend.previewTitle }}"
          width="{{ recommend.previewWidth }}"
          height="{{ recommend.previewHeight }}"
        ></p-image>
      </div>
    </a>
  </ng-template>
</p-dataView>
